<header class="sheet-header">
        <div class="profile">
    <img data-action="editImage" src="{{source.img}}" data-edit="img">
    </div>
    <div class="header-rows">
        <div class="header-name">
            <input type="text" name="name" value="{{source.name}}">
        </div>
        <div class="header-details">
            <div class="detail-group">
                {{formInput fields.bio.fields.size value=system.bio.size choices=(config "actorSize")}}
                {{formInput fields.bio.fields.type choices=(config "npcType") value=system.bio.type }}
                {{formInput fields.bio.fields.faction placeholder=(localize "BIO.FACTION") value=system.bio.faction}}
                {{formInput fields.bio.fields.role placeholder=(localize "BIO.ROLE")  value=system.bio.role}}
            </div>
        </div>
</header>