<div class="soulbound chat roll">
    <div class="title">
        {{#if result.rolled}}

            DN {{testData.dn.difficulty}}:{{testData.dn.complexity}} {{testData.dn.name}} Test
        {{else}}
            {{miracle.name}}
        {{/if}}

    </div>

    {{> systems/age-of-sigmar-soulbound/templates/chat/base/dice-container.hbs}}

    <div class="test-results">

        {{> systems/age-of-sigmar-soulbound/templates/chat/miracle/miracle-result.hbs}}
        {{> systems/age-of-sigmar-soulbound/templates/chat/base/base-other.hbs}}
    </div>


     {{#if hasTest}}
        <div class="test-buttons">
            <button class="test-button" type="button">{{ItemTestDisplay}}</button>
        </div>
    {{/if}}


    {{> effectButtons}}

</div>