<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="box-section">
        <div class="box-header">{{localize "TITLE.STATS"}}</div>
        <div class="box-row attributes">
            <div class="attribute-box">
                <div class="label" style="grid-column: 1 / span 4">
                    {{localize "ARCHETYPE.BODY"}}
                </div>

                <div class="label" style="grid-column: 5 / span 4">
                    {{localize "ARCHETYPE.MIND"}}

                </div>
                <div class="label" style="grid-column: 9 / span 4">
                    {{localize "ARCHETYPE.SOUL"}}
                </div>

                <div class="field" style="grid-column: 1 / span 4">{{formInput fields.attributes.fields.body value=source.system.attributes.body}}</div>
                <div class="field" style="grid-column: 5 / span 4">{{formInput fields.attributes.fields.mind value=source.system.attributes.mind}}</div>
                <div class="field" style="grid-column: 9 / span 4">{{formInput fields.attributes.fields.soul value=source.system.attributes.soul}}</div>
            </div>
        </div>

        <div class="box-row skills">
            <div class="skill-header">
                <div class="core">
                    <label>{{localize "ARCHETYPE.CORE_SKILL"}}:</label>
                    <select name="system.skills.core">
                        <option value=""></option>
                        {{#select system.skills.core}}
                            {{#each (config "skills") as |skill sk|}}
                                {{#if (lookup ../skills sk)}}
                                    <option value="{{sk}}">{{skill}}</option>
                                {{/if}}
                            {{/each}}
                        {{/select}}
                    </select>
                </div>

                <label>{{localize "ARCHETYPE.SKILLS"}}</label>
                <div class="xp">
                    <input type="number" value="{{system.skills.xp}}" name="system.skills.xp" data-dtype="Number" />
                    <label>{{localize "EXPERIENCE.XP"}}</label>
                </div>
            </div>
            <div class="skill-selection">
                {{#each (config "skills") as |skill sk|}}
                    <div class="skill-group">
                        <input type="checkbox" class="skill-checkbox" data-skill="{{sk}}" {{checked (lookup ../skills sk)}} />
                        <label class="skill-label">{{skill}}</label>
                    </div>
                {{/each}}
            </div>
        </div>



        {{formGroup fields.talents.fields.choose value=source.system.talents.choose label="ARCHETYPE.TALENTS" localize=true}}

        <div class="flexrow" style="gap: 0.5rem;">
            {{> nameList label="ARCHETYPE.CORE_TALENTS" list=system.talents.core.list path="system.talents.core"}}
            {{> nameList label="ARCHETYPE.TALENTS" list=system.talents.list.list path="system.talents.list"}}
        </div>

        <div>
            {{> choiceDisplay system.equipment label='ARCHETYPE.EQUIPMENT' display=document.system.equipment.textDisplay path='equipment'}}
        </div>

        <div class="box-row">
            <div class="attribute-box">
                <div class="label" style="grid-column: 1 / span 12">
                    {{localize "ARCHETYPE.AQUA_GHYRANIS"}}
                </div>

                <div class="field" style="grid-column: 1 / span 12">{{formInput fields.aqua value=source.system.aqua}}</div>
            </div>
        </div>
    </div>

</section>