<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="box-section">
        <div class="box-header">{{localize "TITLE.STATS"}}</div>
        <div class="box-row">
            <div class="attribute-box">
  
                <div class="label" style="grid-column: 1 / span 10">
                    {{localize "TALENT.REQUIREMENT"}}

                </div>
                <div class="label" style="grid-column: 11 / span 2">
                    {{localize "TALENT.FREE"}}
                </div>

                <div class="field" style="grid-column: 1 / span 10">{{formInput fields.requirement value=source.system.requirement}}</div>
                <div class="field" style="grid-column: 11 / span 2">{{formInput fields.free value=source.system.free}}</div>
                
            </div>
        </div>
        <div class="box-row">
            {{> itemTest label="EQUIPMENT.TEST" fields=fields.test.fields values=source.system.test}}
        </div>
    </div>

    
    <div class="box-section description">
        <div class="box-header">{{localize "TITLE.DESCRIPTION"}}</div>
        <div class="box-editor">
            {{formInput fields.description value=source.system.description enriched=enriched.system.description toggled=true}}
        </div>
    </div>
</section>