<div class="soulbound chat roll">
    <div class="content-box">
        <div class="content-header">
            <h2>DN {{result.primary.dn.difficulty}}:{{result.primary.dn.complexity}} {{result.primary.dn.name}} Test
            </h2>
            {{#if testData.dualWieldingData.primary.name}}
                <div class="target" data-token-id="{{testData.dualWieldingData.primary.tokenId}}">
                    {{testData.dualWieldingData.primary.name}}</div>
            {{/if}}
        </div>
        {{> systems/age-of-sigmar-soulbound/template/chat/base/dice-container.hbs result=result.primary}}
        {{> systems/age-of-sigmar-soulbound/template/chat/weapon/weapon-result.hbs result=result.primary}}
        {{> systems/age-of-sigmar-soulbound/template/chat/weapon/weapon-buttons.hbs}}
    </div>
    <div class="content-box">
        <div class="content-header" style='border-top: none'>
            <h2>DN {{result.secondary.dn.difficulty}}:{{result.secondary.dn.complexity}} {{result.secondary.dn.name}}
                Test</h2>
            {{#if testData.dualWieldingData.secondary.name}}
                <div class="target" data-token-id="{{testData.dualWieldingData.secondary.tokenId}}">
                    {{testData.dualWieldingData.secondary.name}}</div>
            {{/if}}
        </div>
        {{> systems/age-of-sigmar-soulbound/template/chat/base/dice-container.hbs result=result.secondary}}
        {{> systems/age-of-sigmar-soulbound/template/chat/weapon/weapon-result.hbs result=result.secondary}}
        {{> systems/age-of-sigmar-soulbound/template/chat/weapon/secondary-weapon-buttons.hbs}}
    </div>
</div>