<div class="dialog-fields">
    <div class="quick-effect">
        <div>
            <label>{{localize "QUICKEFFECT.NAME"}}</label>
            <div class="form-fields">
                <input type="text" class="label" name="label" value="{{label}}">
            </div>
        </div>

        <div>
            <label>{{localize "QUICKEFFECT.CHANGE"}}</label>
            <select class="key" name="key">
                <option value="">-</option>
                <optgroup label="{{localize 'TITLE.ATTRIBUTES'}}">
                    <option value="system.attributes.body.value">{{localize "ATTRIBUTE.BODY"}}</option>
                    <option value="system.attributes.mind.value">{{localize "ATTRIBUTE.MIND"}}</option>
                    <option value="system.attributes.soul.value">{{localize "ATTRIBUTE.SOUL"}}</option>
                </optgroup>
                <optgroup label="{{localize 'TITLE.SKILLS'}}">
                    <option value="system.skills.arcana.bonus">{{localize "SKILL.ARCANA"}}</option>
                    <option value="system.skills.athletics.bonus">{{localize "SKILL.ATHLETICS"}}</option>
                    <option value="system.skills.awareness.bonus">{{localize "SKILL.AWARENESS"}}</option>
                    <option value="system.skills.ballisticSkill.bonus">{{localize "SKILL.BALLISTIC_SKILL"}}</option>
                    <option value="system.skills.beastHandling.bonus">{{localize "SKILL.BEAST_HANDLING"}}</option>
                    <option value="system.skills.channelling.bonus">{{localize "SKILL.CHANNELLING"}}</option>
                    <option value="system.skills.crafting.bonus">{{localize "SKILL.CRAFTING"}}</option>
                    <option value="system.skills.determination.bonus">{{localize "SKILL.DETERMINATION"}}</option>
                    <option value="system.skills.devotion.bonus">{{localize "SKILL.DEVOTION"}}</option>
                    <option value="system.skills.dexterity.bonus">{{localize "SKILL.DEXTERITY"}}</option>
                    <option value="system.skills.entertain.bonus">{{localize "SKILL.ENTERTAIN"}}</option>
                    <option value="system.skills.fortitude.bonus">{{localize "SKILL.FORTITUDE"}}</option>
                    <option value="system.skills.guile.bonus">{{localize "SKILL.GUILE"}}</option>
                    <option value="system.skills.intimidation.bonus">{{localize "SKILL.INTIMIDATION"}}</option>
                    <option value="system.skills.intuition.bonus">{{localize "SKILL.INTUITION"}}</option>
                    <option value="system.skills.lore.bonus">{{localize "SKILL.LORE"}}</option>
                    <option value="system.skills.medicine.bonus">{{localize "SKILL.MEDICINE"}}</option>
                    <option value="system.skills.might.bonus">{{localize "SKILL.MIGHT"}}</option>
                    <option value="system.skills.nature.bonus">{{localize "SKILL.NATURE"}}</option>
                    <option value="system.skills.reflexes.bonus">{{localize "SKILL.REFLEXES"}}</option>
                    <option value="system.skills.stealth.bonus">{{localize "SKILL.STEALTH"}}</option>
                    <option value="system.skills.survival.bonus">{{localize "SKILL.SURVIVAL"}}</option>
                    <option value="system.skills.theology.bonus">{{localize "SKILL.THEOLOGY"}}</option>
                    <option value="system.skills.weaponSkill.bonus">{{localize "SKILL.WEAPON_SKILL"}}</option>
                </optgroup>
                <optgroup label="{{localize 'TAB.COMBAT'}}">
                    <option value="system.combat.melee.bonus">{{localize "HEADER.MELEE"}}</option>
                    <option value="system.combat.accuracy.bonus">{{localize "HEADER.ACCURACY"}}</option>
                    <option value="system.combat.defence.bonus">{{localize "HEADER.DEFENCE"}}</option>
                    <option value="system.combat.mettle.bonus">{{localize "HEADER.METTLE"}}</option>
                    <option value="system.combat.mettle.regain">{{localize "HEADER.METTLE_REGAIN"}}</option>
                    <option value="system.combat.health.toughness.bonus">{{localize "HEADER.TOUGHNESS"}}</option>
                    <option value="system.combat.health.wounds.bonus">{{localize "HEADER.WOUND"}}</option>
                    <option value="system.combat.initiative.bonus">{{localize "HEADER.INITIATIVE"}}</option>
                    <option value="system.combat.naturalAwareness.bonus">{{localize "HEADER.NATURAL_AWARENESS"}}
                    </option>
                    <option value="system.combat.armour.bonus">{{localize "HEADER.ARMOUR"}}</option>
                    <option value="system.combat.speeds.modifier">{{localize "ACTOR.SPEED_MODIFIER"}}</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label>{{localize "QUICKEFFECT.MODIFIER"}}</label>
            <div class="form-fields">
                <input type="number" class="modifier" name="modifier" value="0">
            </div>
        </div>
    </div>
</div>