<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
    </div>
    <div class="sheet-body">
        <div class="sheet-header">
            <h1><input name="name" type="text" value="{{item.name}}" /></h1>
        </div>
        <div class="sheet-subHeader">
            <div class="entry-horizontal">
                <h3>{{localize "AETHERIC_DEVICE.AVAILABILITY"}}</h3>
                <select name="system.availability">
                    {{#select system.availability}}
                        {{#each (config "availability") as |availability a|}}
                            <option value="{{a}}">{{availability}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "AETHERIC_DEVICE.COST"}}</h3>
                <input name="system.cost" type="text" value="{{system.cost}}" />
            </div>
            <div class="segment-horizontal">
                <h3>{{localize "EQUIPMENT.QUANTITY"}}</h3>
                <input name="system.quantity" type="number" value="{{system.quantity}}" />
            </div>
        </div>
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
        </div>
        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="content-box">
                    <div class="content-header">
                        <h1>{{localize "TITLE.STATS"}}</h1>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.CATEGORY"}}</h3>
                            <div class="segment-horizontal">
                                <select name="system.category">
                                    <option value="">–</option>
                                    {{#select system.category}}
                                        <option value="melee">{{localize "CATEGORY.MELEE"}}</option>
                                        <option value="ranged">{{localize "CATEGORY.RANGE"}}</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.DAMAGE"}}</h3>
                            <div class="segment-horizontal">
                                <input name="system.damage" type="text" value="{{system.damage}}" />
                            </div>
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.ARMOUR"}}</h3>
                            <div class="segment-horizontal">
                                <input name="system.armour" type="number" value="{{system.armour}}"
                                    data-dtype="Number" />
                            </div>
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.POWER"}}:</h3>
                            <div class="segment-horizontal">
                                -<div class="sheet-table-value"><input name="system.power.consumption" type="number" value="{{system.power.consumption}}" data-dtype="Number" /></div>
                                <h3> / </h3>
                                +<div class="sheet-table-value"><input name="system.power.capacity" type="number" value="{{system.power.capacity}}" data-dtype="Number" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.TEST"}}</h3>
                            <div class="entry-inputs">
                                <input name="system.test.dn" type="text" placeholder="{{localize 'POWER.DN'}}"
                                    value="{{system.test.dn}}" />
                                <select name="system.test.attribute">
                                    {{#select system.test.attribute}}
                                        <option value="">-</option>
                                        {{#each (config "attributes") as |attribute a|}}
                                            <option value="{{a}}">{{attribute}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                                <select name="system.test.skill">
                                    {{#select system.test.skill}}
                                        <option value="">-</option>
                                        {{#each (config "skills") as |skill s|}}
                                            <option value="{{s}}">{{skill}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.TRAITS"}} <a class="item-traits"><i
                                        class="fas fa-cog"></i></a></h3>
                            <input name="system.traits" type="text" value="{{item.Traits}}" disabled />
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.CRAFTING"}}</h3>
                            <input data-tooltip="{{system.crafting}}" name="system.crafting" type="text"
                                value="{{system.crafting}}" />
                        </div>
                        <div class="entry-vertical">
                            <h3>{{localize "AETHERIC_DEVICE.REQUIREMENTS"}}</h3>
                            <input data-tooltip="{{system.requirements}}" name="system.requirements" type="text"
                                value="{{system.requirements}}" />
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content-box item-description">
                    <div class="content-header">
                        <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    </div>
                    <div class="content-wrapper" ´style="height:100%">
                        {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="effects">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/item-effects.hbs}}
            </div>
        </div>
    </div>
</form>