<form class="{{cssClass}}" autocomplete="off">
    <div class="avatar">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}"
            placeholder="{{localize " BIO.NAME"}}" />
    </div>
    <div class="sheet-body" ´>
        <div class="sheet-header">
            <input name="name" type="text" value="{{actor.name}}" />
        </div>
        <div class="sheet-subHeader">
            <select name="system.bio.size" data-dtype="Number">
                {{#select system.bio.size}}
                    {{#each (config "actorSize") as |size s|}}
                        <option value="{{s}}">{{size}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="system.bio.type" data-dtype="Number">
                {{#select system.bio.type}}
                    {{#each (config "npcType") as |type t|}}
                        <option value="{{t}}">{{type}}</option>
                    {{/each}}
                {{/select}}
            </select>
            (<input name="system.bio.faction" type="text" value="{{system.bio.faction}}" placeholder="{{localize "BIO.FACTION"}}" />, <input name="system.bio.subfaction" type="text" value="{{system.bio.subfaction}}" placeholder="{{localize "BIO.SUBFACTION"}}" />)
            <input name="system.bio.role" type="text" value="{{system.bio.role}}" placeholder="{{localize "BIO.ROLE"}}" />
        </div>
        <hr>
        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="talents">{{localize "TAB.TALENTS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-content">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-stats.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="talents">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-talents.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-combat.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="effects">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/actor-effects.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-gear.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/age-of-sigmar-soulbound/template/sheet/tab/player-notes.hbs}}
            </div>
        </div>
    </div>
</form>