{{#if canOvercast}}
    <div class="content-wrapper overcast-buttons">
        <div class="overcast-labels">
            <h3>Overcasts <a class="overcast-reset"><i class="fas fa-redo"></i></a></h3>
            <label>Spent: {{result.overcasts.spent}}/{{result.degree}}</label>
        </div>
        <div class="overcast-groups">
            {{#each result.overcasts.options as |option index|}}
                <div class="overcast-group" data-index={{index}}>
                    <button type="button" class="overcast-button">{{option.title}}
                        {{#if option.allocation}}({{option.allocation}}){{/if}}</button>

                    <h3> {{#if option.showTotal}} Total: {{lookup ../result option.property}} {{/if}}</h3>

                </div>
            {{/each}}
        </div>
    </div>
{{/if}}


{{#unless result.success}}
    <div class="content-wrapper test-buttons">
        <button class="spell-fail-button" type="button">The Price of Failure</button>
    </div>
{{/unless}}

{{#if hasTest}}
    <div class="content-wrapper test-buttons">
        <button class="test-button" type="button">{{ItemTestDisplay}}</button>
    </div>
{{/if}}

{{#if targetEffects.length}}
    <div class="content-wrapper test-buttons">
        {{#each targetEffects as |effect e|}}
            <button class="apply-effect" data-uuid="{{effect.uuid}}" type="button"><i class="fa-solid fa-crosshairs"></i><img src="{{effect.img}}" width="25" height="25"> {{localize 'WH.ApplyEffect' name=effect.name}}</button>
        {{/each}}
    </div>
{{/if}}

{{#if areaEffects.length}}
    <div class="content-wrapper test-buttons">
        {{#each areaEffects as |effect e|}}
            <button class="place-effect" data-uuid={{effect.uuid}} type="button"><i class="fa-solid fa-ruler-combined"></i><img src="{{effect.img}}" width="25" height="25"> {{localize "WH.PlaceEffect" name=effect.name}}</button>
        {{/each}}
    </div>
{{/if}}

{{#if zoneEffects.length}}
    <div class="content-wrapper test-buttons">
        {{#each zoneEffects as |effect e|}}
            <button class="apply-zone" data-uuid={{effect.uuid}} type="button"><i class="fa-solid fa-game-board-simple"></i><img src="{{effect.img}}" width="25" height="25"> {{localize "WH.PlaceEffect" name=effect.name}}</button>
        {{/each}}
    </div>
{{/if}}