<div class="soulbound chat roll">
    <div class="content-box">
        {{#if result.rolled}}
            <div class="content-header">
                <h2>DN {{testData.dn.difficulty}}:{{testData.dn.complexity}} {{testData.dn.name}} Test</h2>
            </div>

            {{> systems/age-of-sigmar-soulbound/templates/chat/base/dice-container.hbs}}
        {{else}}
            <div class="content-header">
                <h2>{{miracle.name}}</h2>
            </div>
        {{/if}}

        {{> systems/age-of-sigmar-soulbound/templates/chat/miracle/miracle-result.hbs}}
        {{> systems/age-of-sigmar-soulbound/templates/chat/base/base-other.hbs}}
        {{> systems/age-of-sigmar-soulbound/templates/chat/miracle/miracle-buttons.hbs}}

    </div>
</div>