<div class="effects">
    <div class="item-list">
        <div class="item-header">
            <h1>{{localize "HEADER.EFFECTS"}}</h1>
            <a class="effect-create absolute" data-tooltip="Create Effect"><i class="fas fa-plus"></i></a>
        </div>
        {{#each effects as |effect|}}
            <div class="item" data-effect-id="{{effect.id}}" data-uuid="{{effect.uuid}}">
                <div class="item-content">
                    <div class="item-property item-name">
                        <div class="item-image">
                            <img src={{effect.img}} />
                        </div>
                        <a class="effect-edit">{{effect.name}}</a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control effect-delete" data-index="{{@key}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>