<div class="soulbound chat item">
    <div class="title">
        {{#if item.img}}
            <img src="{{item.img}}" data-tooltip="{{item.name}}" width="48" height="48" />
        {{/if}}

        <h3>{{item.name}}</h3>
        {{#if item.isGoal}}
            <h4>{{item.subtype}} {{localize "ITEM.GOAL"}}</h4>
        {{/if}}
        {{#if item.isConnection}}
            <h4>{{localize "ITEM.CONNECTION"}}</h4>
        {{/if}}
        {{#if item.isWound}}
            <h4>{{item.damage}} {{localize "WOUND.DAMAGE"}}</h4>
        {{/if}}
        {{#if item.isSpell}}
            <h4>{{item.lore}} {{localize "ITEM.SPELL"}}</h4>
        {{/if}}
        {{#if item.isMiracle}}
            <h4>{{item.god}} {{localize "ITEM.MIRACLE"}}</h4>
        {{/if}}
        {{#if item.isTalent}}
            <h4>{{localize "ITEM.TALENT"}}</h4>
        {{/if}}
        {{#if item.isArmour}}
            <h4>{{item.Type}} {{localize "ITEM.ARMOUR"}}</h4>
        {{/if}}
        {{#if item.isWeapon}}
            <h4>{{item.Category}} {{localize "ITEM.WEAPON"}}</h4>
        {{/if}}
        {{#if item.isAethericDevice}}
            <h4>{{localize "ITEM.AETHERIC_DEVICE"}}, {{item.Category}}</h4>
        {{/if}}
        {{#if item.isRune}}
            <h4>{{localize "ITEM.RUNE"}}</h4>
        {{/if}}
        {{#if item.isEquipment}}
            <h4>{{localize "ITEM.EQUIPMENT"}}</h4>
        {{/if}}

    </div>

    {{#if item.isGoal}}
        <div class="property">
            <strong>{{localize "GOAL.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isConnection}}
        <div class="property">
            <strong>{{localize "CONNECTION.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isWound}}
        <div class="property">
            <strong>{{localize "WOUND.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isSpell}}
        <div class="property-row">
            <div class="property">
                <div><strong>{{localize "SPELL.DN"}}: </strong> {{item.DN}}</div>
                <div><strong>{{localize "SPELL.TARGET"}}: </strong> {{item.target}}</div>
            </div>
            <div class="property">
                <div><strong>{{localize "SPELL.RANGE"}}: </strong> {{item.Range}}</div>
                <div><strong>{{localize "SPELL.DURATION"}}: </strong> {{item.Duration}}</div>
            </div>
        </div>
      
        <div class="property-row">
            <div class="property"><strong>{{localize "SPELL.OVERCAST"}}: </strong> {{item.overcast}}</div>
        </div>
        {{#if item.hasTest}}
            <div class="property-row">
                <div class="property"><strong>{{localize "SPELL.TEST"}}: </strong> {{item.Test}}</div>
            </div>
        {{/if}}
        <div class="property">
            <strong>{{localize "SPELL.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isMiracle}}

        <div class="property-row">
            <div class="property">
                <div><strong>{{localize "MIRACLE.COST"}}: </strong>{{item.cost}} Mettle</div>
                <div><strong>{{localize "SPELL.TARGET"}}: </strong> {{item.target}}</div>
            </div>
            <div class="property">
                <div><strong>{{localize "SPELL.RANGE"}}: </strong> {{item.Range}}</div>
                <div><strong>{{localize "SPELL.DURATION"}}: </strong> {{item.Duration}}</div>
            </div>
        </div>


        <div class="property">
            <strong>{{localize "MIRACLE.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isTalent}}
        <div class="property-row">
            <div><strong>{{localize "TALENT.REQUIREMENT"}}: </strong> {{item.requirement}}</div>
        </div>
        <div class="property">
            <strong>{{localize "TALENT.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isArmour}}
        <div class="property-row">
            <div class="property">
                <div><strong>{{localize "ARMOUR.BENEFIT"}}</strong></div>
                <div>{{item.benefit}}</div>
            </div>
            <div class="property">
                <strong>{{localize "ARMOUR.REQUIREMENTS"}}: </strong> {{item.requirements}}
                <strong>{{localize "ARMOUR.TRAITS"}}: </strong> {{{arrayDisplay item.Traits}}}
            </div>
        </div>
        <div class="property">
            <strong>{{localize "ARMOUR.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
        <div class="property-row">
            <div>
                <strong>{{localize "ARMOUR.COST"}}: </strong> {{item.cost}}
            </div>
            <div>
                <strong>{{localize "ARMOUR.AVAILABILITY"}}: </strong> {{item.Availability}}
            </div>
        </div>
    {{/if}}

    {{#if item.isWeapon}}
        <div class="property-row">
            <div class="property">
                <div><strong>{{localize "WEAPON.DAMAGE"}}</strong></div>
                <div>{{item.Damage}}</div>
            </div>
            <div class="property">
                <strong>{{localize "WEAPON.TRAITS"}}: </strong> {{{arrayDisplay item.Traits}}}
            </div>
        </div>
        <div class="property">
            <strong>{{localize "WEAPON.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
        <div class="property-row">
            <div>
                <strong>{{localize "WEAPON.COST"}}: </strong> {{item.cost}}
            </div>
            <div>
                <strong>{{localize "WEAPON.AVAILABILITY"}}: </strong> {{item.Availability}}
            </div>
        </div>
    {{/if}}

    {{#if item.isAethericDevice}}
        <div class="property-row">
            <div class="property">
                <div><strong>{{localize "AETHERIC_DEVICE.DAMAGE"}}</strong></div>
                <div>{{item.damage}}</div>
            </div>
            <div class="property">
                <strong>{{localize "AETHERIC_DEVICE.TRAITS"}}: </strong> {{{arrayDisplay item.Traits}}}
            </div>
        </div>
        <div class="property-row">
            <div>
                <strong>{{localize "AETHERIC_DEVICE.POWER_CAPACITY"}}: </strong> {{item.power.capacity}}
            </div>
            <div>
                <strong>{{localize "AETHERIC_DEVICE.POWER_CONSUMPTION"}}: </strong> {{item.power.consumption}}
            </div>
        </div>
        <div class="property">
            <strong>{{localize "AETHERIC_DEVICE.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
        <div class="property-row">
            <div>
                <strong>{{localize "AETHERIC_DEVICE.COST"}}: </strong> {{item.cost}}
            </div>
            <div>
                <strong>{{localize "AETHERIC_DEVICE.AVAILABILITY"}}: </strong> {{item.Availability}}
            </div>
        </div>
        <div class="property-row">
            <div>
                <strong>{{localize "AETHERIC_DEVICE.CRAFTING"}}: </strong> {{item.crafting}}
            </div>
            <div>
                <strong>{{localize "AETHERIC_DEVICE.REQUIREMENTS"}}: </strong> {{item.requirements}}
            </div>
        </div>
    {{/if}}

    {{#if item.isRune}}
        <div class="property">
            <strong>{{localize "RUNE.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
    {{/if}}

    {{#if item.isEquipment}}
        <div class="property">
            <strong>{{localize "EQUIPMENT.DESCRIPTION"}}</strong> {{{item.description}}}
        </div>
        <div class="property-row">
            <div>
                <strong>{{localize "EQUIPMENT.COST"}}: </strong> {{item.cost}}
            </div>
            <div>
                <strong>{{localize "EQUIPMENT.AVAILABILITY"}}: </strong> {{item.Availability}}
            </div>
        </div>
    {{/if}}
</div>
</div>