<section class="tab {{tab.cssClass}} effects" data-group="primary" data-tab="{{tab.id}}">
    <div class="conditions">
            {{#each conditions}}
            <div class="condition {{#if this.existing}}active{{/if}}" >
                <img src="{{img}}">
                <a data-condition="{{this.key}}" data-action="toggleCondition">{{this.name}}</a>
            </div>
            {{/each}}
    </div>

    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "HEADER.EFFECTS"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createEffect" data-type="effect"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="list-content">
            {{#each item.effects}}
                <div class="list-row {{#if this.disabled}}inactive{{/if}}" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <a class="label" data-action="editEmbedded">{{this.name}}</a>
                        </div>
                        <div class="list-controls">
                            {{#if this.disabled}}
                                <a class="list-control" data-action="toggleProperty" data-path="disabled"><i class="fa-regular fa-circle"></i></a>
                            {{else}}
                                <a class="list-control" data-action="toggleProperty" data-path="disabled"><i class="fa-regular fa-circle-check"></i></a>
                            {{/if}}
                            <a data-action="deleteEmbedded" class="list-control"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

    {{#if effectsFromActor.length}}
        <div class="sheet-list">
            <div class="list-header row-content">
                <div class="list-name">{{localize "HEADER.ACTOR_EFFECTS"}}</div>
            </div>
            <div class="list-content">
                {{#each effectsFromActor}}
                    <div class="list-row" data-uuid="{{this.uuid}}">
                        <div class="row-content">
                            <div class="list-name">
                                <img src="{{this.img}}">
                                <div>{{this.name}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

</section>