<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
  <div class="form-group">
    <label for="{{rootId}}-{{basePath}}.cover">{{localize "ZONE.COVER"}}</label>
    <div class="form-fields">
      <select name="{{basePath}}.cover" id="{{rootId}}-{{basePath}}.cover">
        {{selectOptions (config "zoneCover") selected=traits.cover blank=""}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="{{rootId}}-{{basePath}}.difficult">{{localize "ZONE.DIFFICULT_TERRAIN"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="{{basePath}}.difficult" {{checked traits.difficult}} id="{{rootId}}-{{basePath}}.difficult">
    </div>
  </div>

  <div class="form-group">
    <label for="{{rootId}}-{{basePath}}.obscured">{{localize "ZONE.OBSCURED"}}</label>
    <div class="form-fields">
      <select name="{{basePath}}.obscured" id="{{rootId}}-{{basePath}}.obscured">
        {{selectOptions (config "zoneObscured") selected=traits.obscured blank=""}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="{{rootId}}-{{basePath}}.hazard">{{localize "ZONE.HAZARD"}}</label>
    <div class="form-fields">
      <select name="{{basePath}}.hazard" id="{{rootId}}-{{basePath}}.hazard">
        {{selectOptions (config "zoneHazard") selected=traits.hazard blank=""}}
      </select>
      <label>{{localize "ZONE.HAZARD_IGNORE_ARMOUR"}}</label>
      <input type="checkbox" name="{{basePath}}.ignoreArmour" {{checked traits.ignoreArmour}} />
    </div>
  </div>

  <div class="form-group" data-tooltip="Comma separated list">
    <label for="{{rootId}}-{{basePath}}.tags">{{localize "ZONE.TAGS"}}</label>
    <div class="form-fields">
      <input type="text" name="{{basePath}}.tags" value="{{traits.tags}}" id="{{rootId}}-{{basePath}}.difficult">
    </div>
  </div>

  <div class="form-group">
    <label for="{{rootId}}-{{basePath}}.filter">{{localize "ZONE.FILTER"}}</label>
    <p class="hint">Return true to prevent being added to an Actor in the Zone</p>
    <code-mirror language="javascript" indent="2" name="{{basePath}}.filter" value="{{traits.filter}}">
      {{traits.filter}}
    </code-mirror>
  </div>

</section>