<form>
    <div class="dialog-fields">
        <div class="content-box">
            <div class="content-header">
                <h1>{{localize dialogTitle}}</h1>
            </div>
            <div class="content-row">
                <div class="entry-vertical" style="width:100px;">
                    <h3>{{localize "DIALOG.DN"}}</h3>
                    <div class="dn-box">
                        <select name="difficulty" data-tooltip-direction="LEFT" data-tooltip="{{tooltips.difficulty}}">
                            {{#select fields.difficulty}}
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            {{/select}}
                        </select>
                        :
                        <select name="complexity" data-tooltip-direction="LEFT" data-tooltip="{{tooltips.complexity}}">
                            {{#select fields.complexity}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="entry-vertical">
                    <h3>{{localize "DIALOG.ATTRIBUTE"}}</h3>
                    <select name="attribute">
                        {{#select fields.attribute}}
                            {{#each (config "attributes")}}
                                <option value="{{@key}}">{{localize this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="entry-vertical">
                    <h3>{{localize "DIALOG.SKILL"}}</h3>
                    <select name="skill">
                        {{#select fields.skill}}
                            <option value="">-</option>
                            {{#each (config "skills")}}
                                <option value="{{@key}}">{{localize this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="content-row">
                <div class="entry-horizontal">
                    <h3>{{localize "DIALOG.DOUBLE_TRAINING"}}</h3>
                    <input name="doubleTraining" type="checkbox" {{checked fields.doubleTraining}} />
                </div>
                <div class="entry-horizontal">
                    <h3>{{localize "DIALOG.DOUBLE_FOCUS"}}</h3>
                    <input name="doubleFocus" type="checkbox" {{checked fields.doubleFocus}} />
                </div>
            </div>
            <div class="content-row">
                <div class="entry-horizontal" data-tooltip-direction="LEFT" data-tooltip="{{tooltips.bonusDice}}">
                    <h3>{{localize "DIALOG.BONUSDICE"}}</h3>
                    <div class="dialog-value"><input name="bonusDice" type="number" value="{{fields.bonusDice}}"  />
                    </div>
                </div>
            </div>
            <div class="content-row">
                <div class="entry-horizontal" data-tooltip-direction="LEFT" data-tooltip="{{tooltips.bonusFocus}}">
                    <h3>{{localize "DIALOG.BONUSFOCUS"}}</h3>
                    <div class="dialog-value"><input name="bonusFocus" name="bonusFocus" type="number" value="{{fields.bonusFocus}}"  /></div>
                </div>
            </div>

            {{{subTemplate}}}

        </div>
        <hr>
        <div class="modifiers-container">
            {{> dialogModifiers}}
        </div>
    </div>
    <button type="submit">{{localize "Roll"}}</button>
</form>