<form>
  <div>
    {{#each traits as |trait t|}}

      <div class="form-group wrapper">
        <label>{{trait.display}}</label>
        {{#if trait.hasValue}}
          <input type="text" name="{{trait.key}}-value" value="{{trait.existingTrait.value}}">
        {{/if}}
        <input type="checkbox" name="{{trait.key}}" {{checked trait.existingTrait}}>
      </div>

    {{/each}}
  </div>

  <div class="form-group">
    <label style="display:flex; align-items: center;">{{localize "TRAITS.CUSTOM"}} <i class="far fa-question-circle"
        style="margin-left:3px;"
        data-tooltip="FORMAT - Trait 1: Trait 1 Description | Trait 2: Trait 2 Description | etc."></i></label>
    <div class="form-fields">
      <input name="custom-traits" type="text" value="{{custom}}">
    </div>
  </div>

  <button type="submit">{{localize "BUTTON.UPDATE"}}</button>
</form>